*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: rgb(100,100,100);
    color: white;
}
header{
    text-align: right;
    padding: 10px 25px;
    width: 100%;
}

header a{
    text-decoration: none;
    color: white;
}
nav{
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav ul li{
    list-style-type: none;
    height: 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav{
    text-align: right;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin: 10px 15px 10px auto;
  }
  
  .bar1, .bar2, .bar3 {      
    width: 35px;
    height: 5px;
    background-color: rgb(160,50,50);
    margin: 6px 0 6px auto;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

ul.hide{
    display: none;
}

nav.hide{
    background: rgb(100,100,100);
}

nav.show{
    background: rgb(0,0,0);
}

@media only screen and (min-width: 800px) {
    .container{
        display: none;
    }

    nav.hide, nav.show{
        background: rgb(0,0,0);
    }

    nav ul.hide, nav ul.show{
        display: flex;
        flex-direction: row;
        align-content: space-around ;
    }
}