main p{
    font-size: 1.5rem;
    margin: 20px auto;
    text-align: center;
}
table{
    border-collapse: collapse;
    border: 2px solid black;
    width: 250px;
    margin: 20px auto;
}

table thead{
    background-color: rgb(160,50,50);

}

table tbody tr{
    text-align: center;
}

table tbody tr:nth-child(even){
    background-color: rgb(150,150,150);
}

main form{
    display: flex;
    flex-direction: column;
}

main form div{
    padding: 10px;
}

main form div label, main form div span, main form div input{
    padding: 10px;
}

body{
    padding-bottom: 50px;
}

@media only screen and (min-width: 800px) {
    table{
        width: 600px;
    }
  }