main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    justify-content: space-around;
    height: 900px;
    padding-top: 50px;
}

main div figure, main div figcaption{
    text-align: center;
}

main div figcaption a{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: gray;
    text-decoration: none;
    color: white;
    padding: 10px;
}

main div figcaption a:hover{
    color: black;
    text-decoration: none;
    background-color: white;
}

main div figure img{
    width: 200px;
}

main div{
    height: 400px;
}
